:local(.button) {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.42857143;
	border-radius: 4px;
	user-select: none;
	color: #ffffff;
	background-color: #375a7f;
	border-color: #375a7f;
}
